<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Velkommen til min hjemmeside! Jeg hedder Magnus, og jeg har en passion for alt inden for IT-verdenen. Jeg elsker at dykke ned i forskellige teknologier og eksperimentere med nye ideer.">
    <meta name="theme-color" content="#20C20E">
    <meta property="og:title" content="MT-Integrations.dk" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mt-integrations.dk" />
    <meta property="og:image" content="~/media/images/pfp-icons.png" />
    <meta property="og:description" content="Velkommen til min hjemmeside! Jeg hedder Magnus, og jeg har en passion for alt inden for IT-verdenen. Jeg elsker at dykke ned i forskellige teknologier og eksperimentere med nye ideer." />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/typewriter.js" defer></script>
</head>
<body>
    
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>